<!doctype html>
<html>

<head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="flex mt-10 justify-between ml-30 mr-30 border-b-2 pb-4">
        <div class="flex justify-between items-center w-90">
            <img src="{{user.avatar}}" class="h-20 w-20 rounded-[50%]">
            <h1 class="text-3xl font-bold">Welcome {{user.fname}}</h1>
        </div>
        <form action="/dashboard/logout" method="post">
            {% csrf_token %}
            <input type="submit" class="underline text-blue-400" value="Logout">
        </form>
    </div>
    <div class="flex mt-10 ml-50">
        <form action="/update" method="post">
            {% csrf_token %}
            <input type="hidden" value="{{game.id}}" name="game_id">
            <div class="w-130 ml-10 flex justify-around mb-10">
                <label for="title">Game name</label>
                <input class="border w-80 h-7" type="text" name="name" value="{{game.name}}">
            </div>
            <div class="w-130 ml-10 flex justify-around mb-10">
                <label for="">Gener</label>
                <div class="w-130 ml-10 flex justify-around mb-10">
                    <input type="text" name="new_type" class="border w-80 h-7" value="{{game.Genre}}">
                </div>
            </div>
            <div class="w-130 ml-10 flex justify-around mb-10">
                <label for="title">Release Date</label>
                <input class="border w-80 h-7" type="datetime" name="date" value="{{game.date}}">
            </div>
            <div class="w-130 ml-10 flex justify-around mb-5">
                <label for="desc" class="ml-4">Description</label>
                <textarea class="border w-80 h-15 mr-4" type="text" name="desc">{{game.desc}}</textarea>
            </div>
            <input type="submit" class="border h-10 w-30 px-2 py-2 ml-50.5 shadow-[2px_2px_2px_rgb(0,0,0)]"
                value="Edit">
            <a href="/game/{{game.id}}" class="border h-10 w-30 px-2 py-2 ml-50.5 shadow-[2px_2px_2px_rgb(0,0,0)]">Cancel</a>
        </form>
    </div>
</body>

</html>